[Unit]
Description=ohmd restart hack
After=init-done.service
DefaultDependencies=no
 
[Service]
Type=notify
NotifyAccess=all
ExecStart=/bin/systemctl restart ohmd
#Restart=always
# Lets make sure we don't block minutes in case of errors.
TimeoutSec=15
#StartLimitInterval=60
#StartLimitBurst=2
 
[Install]
WantedBy=multi-user.target
